body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: #dddd;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


img.small {
  max-width: 17rem;
}

.product-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: orange;
  width: 100%;
  cursor: pointer
}

.fw-icon {
  margin-left: 10px;
}

button.remove {
  width: 1.5rem;
  border: none;
  background-color: #dddd;
}

.choose-btn {
  width: 50%;
  align-items: center;
  margin-left: 20px;
  background-color: green;
  color: white;
}

.cart-for-mobile {
  display: none;
}

.cart-for-desktop {
  display: block;
}

@media only screen and (max-width: 600px) {
  img.small {
    width: 90%;
  }

  button {
    width: 86%;
    margin-bottom: 20px;
  }

  .cart-for-desktop {
    display: none;
  }

  .cart-for-mobile {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}